{
  "presets": [
    [ "@vue/app", { "useBuiltIns": "entry" } ],
    [ "@babel/preset-env", {
      "shippedProposals": true,
      "forceAllTransforms": true
    }]
  ],
  "plugins": [],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
