.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log
config/*.js
!config/index.js
!config/default.env.js
!config/prod.env.js
!config/example.*.env.js
tmp/
.env*
!.env
!.env.development
!.env.production

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.out

# redis files
*.rdb

# Local Netlify folder
.netlify
impresso-frontend.code-workspace

*storybook.log
public/mock-media/CFCE-1996-09-15-a-r0001.MP3
public/mock-media/CFCE-1996-09-08-a-r0001.MP3
public/mock-media/RDN-1950-01-12-a-r0001.MP3
public/mock-media/index.html
