@font-face {
  font-family: 'Satoshi-Variable';
  src:
    url('/assets/fonts/Satoshi-Variable.woff2') format('woff2'),
    url('/assets/fonts/Satoshi-Variable.woff') format('woff'),
    url('/assets/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-VariableItalic';
  src:
    url('/assets/fonts/Satoshi-VariableItalic.woff2') format('woff2'),
    url('/assets/fonts/Satoshi-VariableItalic.woff') format('woff'),
    url('/assets/fonts/Satoshi-VariableItalic.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}

:root {
  --impresso-color-paper: #fafbf2;
  --impresso-color-white: #ffffff;
  --impresso-color-white-alpha-20: rgba(255, 255, 255, 0.2);
  --impresso-color-white-alpha-30: rgba(255, 255, 255, 0.3);
  --impresso-color-white-alpha-50: rgba(255, 255, 255, 0.5);
  --impresso-color-white-alpha-80: rgba(255, 255, 255, 0.8);
  --impresso-color-yellow-code: 255, 235, 120;
  --impresso-color-yellow: #ffeb78;
  --impresso-color-yellow-alpha-20: rgba(255, 235, 120, 0.2);
  --impresso-color-yellow-alpha-30: rgba(255, 235, 120, 0.3);
  --impresso-color-yellow-alpha-50: rgba(255, 235, 120, 0.5);
  --impresso-color-yellow-alpha-80: rgba(255, 235, 120, 0.8);

  --impresso-color-black: #343a40;
  --impresso-color-black-alpha-20: rgba(52, 58, 64, 0.2);
  --impresso-color-black-alpha-30: rgba(52, 58, 64, 0.3);
  --impresso-color-black-alpha-50: rgba(52, 58, 64, 0.5);
  --impresso-color-black-rgb: 52, 58, 64;

  --impresso-color-black-deeper: #17191c;

  --impresso-color-pastel-blue: rgba(86, 204, 242);
  --impresso-color-pastel-blue-alpha-20: rgba(86, 204, 242, 0.2);

  --impresso-border-radius-xs: 5px;
  --impresso-border-radius-sm: 10px;
  --impresso-border-radius-md: 15px;
  --impresso-border-radius-lg: 20px;
  --impresso-border-radius-xl: 30px;
  --impresso-font-size-smallcaps: 0.72em;
  --impresso-letter-spacing-smallcaps: 0.08em;
  --impresso-letter-spacing-smallcaps-md: 0.12em;
  --impresso-font-size-verysmallcaps: 0.65em;
  --impresso-letter-spacing-verysmallcaps: 0.09em;

  --impresso-font-size-smaller: 0.85em;
  --impresso-wght: 450;
  --impresso-wght-medium: 600;
  --impresso-wght-bold: 700;
  --impresso-wght-smallcaps: 580;
  --impresso-wght-smallcaps-bold: 800;
  --impresso-wght-verysmallcaps: 550;

  --info: #c3fcf1;
  --info-rgb: 195, 252, 241;

  --info-darker: #00b0a3;
  --info-darker-rgb: 0, 176, 163;

  --warning: #fa8d74;
  --warning-rgb: 250, 141, 116;

  --error: #ff6d48;
  --error-rgb: 255, 109, 72;

  --success: #a6d47c;
  --success-rgb: 166, 212, 124;

  --clr-white: #ffffff;
  --clr-white-rgba-20: #ffffff33;
  --clr-white-rgba-90: #ffffffee;
  --clr-white-rgba-50: #f8f8ff80;
  --clr-dark: var(--impresso-color-black);

  --clr-grey-100: #3d4146;
  --clr-grey-200: #5b5e65;
  --clr-grey-300: #84868e;
  --clr-grey-400: #a9aab4;
  --clr-grey-500: #c2c3cb;
  --clr-grey-600: #d4d5e1;
  --clr-grey-700: #e1e1ee;
  --clr-grey-800: #ececfb;
  --clr-grey-900: #f8f8ff;
  --clr-grey-100-rgba-20: #464d5333;
  --clr-grey-200-rgba-20: #585d6633;
  --clr-grey-300-rgba-20: #7c7f8c33;
  --clr-grey-400-rgba-20: #a0a1a333;
  --clr-grey-500-rgba-20: #b1b2c633;
  --clr-grey-600-rgba-20: #c3c4d933;
  --clr-grey-700-rgba-20: #d5d5ec33;
  --clr-grey-800-rgba-20: #e7e7ff33;
  --clr-grey-900-rgba-20: #f8f8ff33;

  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-2-5: 0.75rem;
  --spacing-3: 1rem;
  --spacing-4: 1.5rem;
  --spacing-5: 3rem;
  --negative-spacing-1: -0.25rem;
  --negative-spacing-2: -0.5rem;
  --negative-spacing-3: -1rem;
  --negative-spacing-4: -1.5rem;
  --negative-spacing-5: -3rem;

  --accent: var(--impresso-color-yellow);
  --impresso-yellow: #ffeb78;
  --border-radius-sm: 3px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;

  /* Bootstrap overrides */
  --bs-font-sans-serif: 'Satoshi-Variable', sans-serif;
  --bs-font-sans-serif-italic: 'Satoshi-VariableItalic', sans-serif;
  --bs-font-serif-italic: 'questa', serif;
  --bs-font-serif: 'questa', serif;
  --bs-font-monospace: monospace;
  --bs-border-radius-lg: var(--impresso-border-radius-lg);
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.125);
  /* Original: --bs-box-shadow-md: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); */
  --bs-box-shadow-md:
    rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-lg-darker: 0 1rem 3rem rgba(0, 0, 0, 0.29);
  --bs-box-shadow-md-darker:
    rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em;
  --bs-box-shadow-focus: 0 0 0 0.2rem #ffeb78;
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);

  --bs-font-size-base: 1rem;
  --impresso-font-size-3: 1.75rem;
  --impresso-font-size-4: 1.5rem;

  --impresso-transition-ease: cubic-bezier(0.4, 0, 0.2, 1);

  --z-index-pagination: 1001;
  --z-index-modals: 1039;
  --z-index-modals-feedback: 1039;

  --impresso-text-decoration-color: var(--impresso-color-black-alpha-30);
  --impresso-text-decoration-color-hover: var(--impresso-color-black-alpha-50);
}

body {
  font-family: var(--bs-font-sans-serif);
  font-weight: 450;
  font-variation-settings: 'wght' 450;
  text-rendering: optimizeLegibility;
}
select {
  appearance: inherit;
}
body,
html {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--bs-font-sans-serif);
  font-weight: 375;
  font-variation-settings: 'wght' 375;
}
h1 i,
h1 em,
.h1 i,
.h1 em,
h2 i,
h2 em,
.h2 i,
.h2 em,
h3 i,
h3 em,
.h3 i,
.h3 em,
h4 i,
h4 em,
.h4 i,
.h4 em,
h5 i,
h5 em,
.h5 i,
.h5 em,
h6 i,
h6 em,
.h6 i,
.h6 em {
  font-family: var(--bs-font-sans-serif-italic);
  font-weight: 375;
  font-variation-settings: 'wght' 375;
}
i,
em,
.font-style-italic {
  font-style: normal;
  font-family: var(--bs-font-sans-serif-italic);
}
.text-sans,
.sans,
legend,
.small-caps,
.textbox-fancy .label,
.heading-top,
.btn-sm,
.btn-group-sm > .btn,
h6.dropdown-header {
  font-family: var(--bs-font-sans-serif);
  font-weight: 450;
  font-variation-settings: 'wght' 450;
}

a,
.btn-link {
  text-decoration: underline;
  text-decoration-color: var(--impresso-text-decoration-color);
  color: var(--impresso-color-black-deeper);
}
a.btn {
  text-decoration: none;
}

a:hover,
.btn-link:hover {
  text-decoration-color: inherit;
}

.badge {
  border-radius: var(--border-radius-sm);
  box-shadow: var(--bs-box-shadow-sm);
}

.badge-info {
  background-color: #049dae;
}
.badge-language {
  background-color: #e1e6ea;
}
.badge-light {
  background-color: var(--clr-grey-600);
  color: inherit;
  box-shadow: none !important;
}

.btn-group-sm > .btn,
.input-group-sm > .input-group-append > .btn {
  font-size: var(--impresso-font-size-smallcaps);
  font-variation-settings: 'wght' var(--impresso-wght-smallcaps);
}

.btn-xs {
  padding: 2px var(--spacing-2);
  border-radius: var(--impresso-border-radius-xs);
  line-height: inherit;
  font-size: var(--impresso-font-size-smallcaps);
  font-variation-settings: 'wght' var(--impresso-wght-smallcaps);
  letter-spacing: var(--impresso-letter-spacing-smallcaps);
  text-transform: uppercase;
}

.btn-link {
  text-decoration: underline;
  text-decoration-color: var(--impresso-text-decoration-color);
  transition: text-decoration-color 0.2s var(--impresso-transition-ease);
  padding: inherit;
  font-size: inherit;
  text-align: inherit;
  line-height: inherit;
  vertical-align: inherit;
}

.alert {
  border-radius: var(--border-radius-md);
  box-shadow: var(--bs-box-shadow-sm);
}
.alert p {
  margin: 0;
}
b {
  font-weight: var(--impresso-wght-bold);
  font-variation-settings: 'wght' var(--impresso-wght-bold);
}
span.number {
  font-variation-settings: 'wght' var(--impresso-wght-smallcaps);
}
label {
  font-variant: normal;
  font-family: var(--bs-font-sans-serif);
  font-weight: 450;
  font-variation-settings: 'wght' 450;
}

.checkbox label,
.small-caps {
  text-transform: uppercase;
  font-size: var(--impresso-font-size-smallcaps);
  font-variant: normal;
  letter-spacing: var(--impresso-letter-spacing-smallcaps);
  font-weight: var(--impresso-wght-smallcaps);
  font-variation-settings: 'wght' var(--impresso-wght-smallcaps);
}
.small-caps-bold {
  text-transform: uppercase;
  font-family: var(--bs-font-sans-serif);
  font-size: var(--impresso-font-size-smallcaps);
  font-variant: normal;
  letter-spacing: var(--impresso-letter-spacing-smallcaps);
  font-weight: var(--impresso-wght-smallcaps-bold);
  font-variation-settings: 'wght' var(--impresso-wght-smallcaps-bold);
}

.very-small-caps {
  text-transform: uppercase;
  font-size: var(--impresso-font-size-verysmallcaps);
  font-variant: normal;
  letter-spacing: var(--impresso-letter-spacing-verysmallcaps);
  font-weight: var(--impresso-wght-verysmallcaps);
  font-variation-settings: 'wght' var(--impresso-wght-verysmallcaps);
}
.small {
  font-size: 0.875em;
  font-weight: inherit;
  font-weight: var(--impresso-wght);
  font-variation-settings: 'wght' var(--impresso-wght);
}
.very-small {
  font-size: 0.75em;
  font-weight: inherit;
  font-weight: var(--impresso-wght);
  font-variation-settings: 'wght' var(--impresso-wght);
}
.text-accent {
  color: var(--accent);
}
.text-decoration-underline {
  text-decoration: underline;
}
.text-nowrap {
  white-space: nowrap;
}
.font-weight-bold {
  font-weight: var(--impresso-wght-bold);
  font-variation-settings: 'wght' var(--impresso-wght-bold);
}
.font-weight-medium {
  font-weight: var(--impresso-wght-medium);
  font-variation-settings: 'wght' var(--impresso-wght-medium);
}
.font-size-inherit {
  font-size: inherit;
}
.font-size-bigger {
  font-size: 1.2em;
  font-weight: var(--impresso-wght);
  font-variation-settings: 'wght' var(--impresso-wght);
}

.btn-sm,
.btn-group-sm > .btn {
  font-size: var(--impresso-font-size-smallcaps);
  text-transform: uppercase;
  font-variant: normal;
  letter-spacing: var(--impresso-letter-spacing-smallcaps);
  line-height: 2em;
  font-weight: var(--impresso-wght-smallcaps);
  font-variation-settings: 'wght' var(--impresso-wght-smallcaps);
  padding: 0.3em 0.95em 0.25em 0.95em;
  border-radius: var(--border-radius-sm);
  white-space: nowrap;
}

.input-group .btn,
.btn-group-sm > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group .btn:first-of-type,
.btn-group-sm > .btn:first-of-type {
  border-top-left-radius: var(--border-radius-sm);
  border-bottom-left-radius: var(--border-radius-sm);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group .btn:last-of-type,
.btn-group-sm > .btn:last-of-type {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: var(--border-radius-sm);
  border-bottom-right-radius: var(--border-radius-sm);
}
.btn-outline-primary,
.btn-outline-secondary,
.btn-primary,
.btn-outline-success {
  border-radius: var(--border-radius-sm);
  box-shadow: var(--bs-box-shadow-sm);
}
.btn.disabled,
.btn:disabled {
  opacity: 0.45 !important;
}
.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  background-color: var(--clr-grey-600) !important;
}
.btn-outline-primary:hover svg path {
  stroke: currentColor;
}

.btn-outline-icon {
  border-radius: 50%;
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  border-color: var(--clr-grey-600);
  color: var(--clr-grey-600);
  box-shadow: var(--bs-box-shadow-sm);
  > span {
    color: inherit;
  }
  &:hover {
    border-color: #17191c;
    color: #17191c;
  }
}

.btn-outline-icon > span {
  position: absolute;
  top: 3px;
  left: 3px;
}

.btn-outline-tertiary {
  border-color: var(--clr-grey-600) !important;
}

.btn-outline-tertiary:focus,
.btn-outline-tertiary:hover {
  box-shadow: none;
  background-color: transparent !important;
  border-bottom-color: var(--clr-grey-400) !important;
}

.btn-outline-white {
  border-color: var(--clr-white) !important;
  color: var(--clr-white) !important;
}

.btn-md {
  border-radius: var(--border-radius-md);
  box-shadow: var(--bs-box-shadow-sm);
  border-width: 0;

  font-variation-settings: 'wght' var(--impresso-wght-smallcaps);
}
.shadow-sm {
  box-shadow: var(--bs-box-shadow-sm);
}
.drop-shadow {
  box-shadow: var(--bs-box-shadow-md);
}

.navbar-nav label {
  text-transform: uppercase;
  font-size: var(--impresso-font-size-smallcaps);
  font-variant: normal;
  letter-spacing: var(--impresso-letter-spacing-smallcaps);
  font-weight: var(--impresso-wght-smallcaps);
  font-variation-settings: 'wght' var(--impresso-wght-smallcaps);
}

/* ul nav pills etc...*/
ul.nav.nav-pills {
  border-bottom: 1px solid var(--clr-grey-200);
}
ul.nav.nav-pills .nav-item .nav-link {
  background-color: transparent;
  font-variant: normal;
  letter-spacing: var(--impresso-letter-spacing-smallcaps);
  text-transform: uppercase;
  font-size: var(--impresso-font-size-smallcaps);
  font-weight: var(--impresso-wght-smallcaps);
  font-variation-settings: 'wght' var(--impresso-wght-smallcaps);
  border-bottom: 1px solid transparent;
  text-decoration: none;
}
ul.nav.nav-pills .nav-item.active .nav-link,
ul.nav.nav-pills .nav-item .nav-link.active {
  color: var(--impresso-color-black);
  font-weight: var(--impresso-wght-smallcaps-bold);
  font-variation-settings: 'wght' var(--impresso-wght-smallcaps-bold);
  box-shadow:
    var(--clr-grey-200) 0px 2px 0px 0px,
    var(--clr-grey-200) 0px 2px 0px 0px;
  border-bottom: 1px solid var(--clr-grey-200);
}
ul.nav.nav-pills .nav-item:hover .nav-link {
  color: var(--impresso-color-black);
  /** box shadow that looks like a border bottom solid  */
  box-shadow: var(--impresso-color-black) 0px 2px 0px 0px;
}

/* impresso-specific pseudo-bootstrap implementation */
.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: var(--spacing-2);
  padding: var(--spacing-1);
  border-radius: 50%;
  border: 1px solid transparent;
}
.btn-icon path {
  fill: transparent;
  stroke: currentColor;
}
.btn-icon:hover,
.btn-icon.active {
  background-color: var(--impresso-yellow);
  border-color: var(--impresso-yellow);
}
.btn-icon:hover,
.btn-icon:focus {
  box-shadow: var(--bs-box-shadow-focus);
}
.btn-icon.active:focus {
  box-shadow: none;
}

/* Dropdown */
.dropdown ul.dropdown-menu > li:first-child {
  padding-top: var(--spacing-2);
}
.dropdown ul.dropdown-menu > li:last-child {
  padding-bottom: var(--spacing-2);
}
.dropdown.show .dropdown-toggle.btn-outline-tertiary {
  border: 1px solid var(--impresso-color-black) !important;
  border-bottom-color: transparent !important;
  background-color: white !important;
}
.dropdown.show .dropdown-toggle.btn-outline-tertiary:hover {
  background-color: white !important;
}
.dropdown .dropdown-item {
  padding: var(--spacing-1) var(--spacing-3);
}

.bg-dark ::selection {
  background-color: var(--impresso-color-yellow);
  color: black;
}

.bg-dark .dropdown .Icon path {
  stroke: var(--clr-white) !important;
}
.bg-dark .dropdown-toggle {
  color: var(--clr-white) !important;
}
.bg-dark .dropdown-toggle:hover {
  color: var(--white) !important;
}
.bg-dark .dropdown .btn.dropdown-toggle:not(.disabled):hover,
.bg-dark .dropdown .btn.dropdown-toggle:not(.disabled):focus {
  background-color: var(--clr-grey-100);
  box-shadow: none;
}
.bg-info {
  background-color: var(--info) !important;
}
.bg-warning {
  background-color: rgba(var(--warning-rgb), 0.5) !important;
}
/* Bootstrap Modals */
.modal {
  z-index: 1041;
}
.modal .modal-dialog {
  border-radius: var(--impresso-border-radius-md);
  border: 0px solid transparent;
}

.modal .modal-content {
  border: 0px solid transparent;
  border-radius: var(--impresso-border-radius-md);
  box-shadow: var(--bs-box-shadow-md);
  background-clip: border-box;
}

.modal .modal-footer {
  padding: var(--spacing-1);
}

.modal-backdrop {
  background-image: linear-gradient(
    to top,
    var(--impresso-color-black) 0%,
    var(--clr-grey-900) 100%
  );
}
/* SVGs */
svg text {
  font-family: var(--bs-font-sans-serif), sans-serif;
}
svg g.tick > line {
  stroke: var(--clr-grey-300);
}
svg path.domain {
  stroke: var(--clr-grey-300);
}

/* other utilities */
.gap-2 {
  gap: var(--spacing-2);
}
.rounded {
  border-radius: var(--border-radius-md) !important;
}
.rounded-md {
  border-radius: var(--border-radius-md) !important;
}
.rounded-lg {
  border-radius: var(--border-radius-lg) !important;
}
.bg-light {
  background-color: #f8f9fa !important;
}

.bg-medium {
  background: var(--clr-grey-300);
}
.pt-1px {
  padding-top: 1px;
}
.pb-1px {
  padding-bottom: 1px;
}
.mt-1px {
  margin-top: 1px;
}
.mt-2px {
  margin-top: 2px;
}
.mb-1px {
  margin-bottom: 1px;
}
.mr-1px {
  margin-right: 1px;
}
.ml-1px {
  margin-left: 1px;
}
.opacity-50 {
  opacity: 0.5;
}

.border-primary {
  border-color: var(--impresso-color-black) !important;
}

.right-0 {
  right: 0;
}
.left-0 {
  left: 0;
}
.top-0 {
  top: 0;
}
.bottom-0 {
  bottom: 0;
}
.z-index-1 {
  z-index: 1;
}
/* fixed pagination, see Pagination component */
.fixed-pagination-footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  z-index: var(--z-index-pagination);
}
