@import "./color.less";
@import "./type.less";
@import "./icons.less";
/* COLOR */
@clr-ui-border-dark: @clr-grey-500;

body {
  background: white;
}

/* TYPE */
body {
  font-family: OpenSans, "helvetica neue", Arial, sans-serif;
  font-size: 0.78rem;
}

.text-serif {
  font-family: PlayfairDisplay, Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;

  &.font-weight-black {
    font-weight: 900;
  }
}

.font-size-sm {
  font-size: 0.5em;
}
.font-size-md {
  font-size: 1em;
}
.font-size-lg {
  font-size: 2em;
}
.font-size-xl {
  font-size: 4em;
}
/* UI */
.bb,
.bl,
.br,
.bt {
  border-color: @clr-ui-border-dark;
  border-style: solid;
  border-width: 0;
}

.br {
  border-right-width: 1px;
}

.bb {
  border-bottom-width: 1px;
}

.bl {
  border-left-width: 1px;
}

.bt {
  border-top-width: 1px;
}
