@font-face {
  font-family: 'PlayfairDisplay';
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Italic.ttf") format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url("../fonts/Playfair_Display/PlayfairDisplay-BoldItalic.ttf") format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Black.ttf") format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url("../fonts/Playfair_Display/PlayfairDisplay-BlackItalic.ttf") format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family:  OpenSans, "helvetica neue", Arial, sans-serif;
}

.text-serif{
  font-family:  PlayfairDisplay, Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  &.font-weight-black{
    font-weight: 900;
  }
}
